body{
	/*font-family: 'Montserrat', sans-serif;*/
}

.inputData{
	width: 100%;
	border: 1px solid #EFF0F7;
	box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
	border-radius: 46px;
	padding: 15px;
}

.loginAccount{
	margin-bottom: 15px;
	width: 100%;
	background: #9B51E0;
	box-shadow: 0px 8px 22px rgba(74, 58, 255, 0.26);
	border-radius: 86px;
	border: 0px;
	color: white;
	padding: 15px;
	font-weight: bold;
	margin-bottom: 50px;
	transition: background-color 300ms;
}

.loginAccount:disabled {
	background: #898989;
}

.loginAccount:hover:not(:disabled) {
	background: #8e28ea;
}

.Form p{
	color: #6F6C90;
	text-align: center;
	cursor: pointer;
}

.inputIcons{
	width: 25px;
	height: 25px;
	position: relative;
	bottom: 43px;
	left: 87%;
}